{% load static %}

<style>
  .headingColor {
    color: #192a56;
  }

  .small-image {
    max-width:  50px; /* Adjust this value to make the image smaller or larger */
    height: auto; /* Keeps the aspect ratio */
}

</style>
<div class="row p-2 mb-4 bg-white border border-success rounded">
  <div class="col-12 col-md-3 my-1">
    <img
      class="img-fluid rounded product-image"
      src="{% static lensData.image.url|slice:'7:' %}"
    />
  </div>
  <div class="col-12 col-md-9 mt-2">
    <h3 class="headingColor fw-bold text-center">
      {{ lensData.brand_name }} {{ lensData.lens_index }} {{ lensData.lens_material }} {{ lensData.lens_coating }}
    </h3>
    <div class="flex-row text-center">{{ lensData.type }}</div>
    <div class="my-3 spec-1">
      {% for feature in lensData.features.all %}
      <span class="mx-2 bg-success py-1 px-2 rounded text-white text-nowrap">
        <img
          src="{% static feature.image.url|slice:'7:' %}"
          alt="{{ feature.description }}"
          class="small-image border border-success rounded"
        />
        {{ feature }}
      </span>
      {% endfor %}
    </div>
    <p class="text-justify">{{ lensData.description }}</p>
  </div>
</div>
